USE [master]
GO
/****** Object:  Database [VehicleShowroomManagementSystem] ******/
CREATE DATABASE [VehicleShowroomManagementSystem]
GO

USE [VehicleShowroomManagementSystem]
GO
/****** Object:  Table [dbo].[Assigning] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assigning](
	[OrderID] [bigint] NOT NULL,
	[OnAssigning] [date] NOT NULL,
	[EmployeeID] [bigint] NOT NULL,
	[AssigningID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Assigning] PRIMARY KEY CLUSTERED 
(
	[AssigningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Car](
	[CarNo] [bigint] IDENTITY(1,1) NOT NULL,
	[ModelName] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Status] [bit] NULL,
	[AddInfor] [nvarchar](100) NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarModel] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarModel](
	[ModelName] [varchar](50) NOT NULL,
	[AddInfor] [nvarchar](100) NULL,
	[Image] [varbinary](max) NOT NULL,
	[ManufactoryID] [int] NOT NULL,
 CONSTRAINT [PK_CarModel_1] PRIMARY KEY CLUSTERED 
(
	[ModelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarReceipt] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarReceipt](
	[ReceiptID] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[PurchaseOrderID] [bigint] NOT NULL,
	[EmployeeID] [bigint] NOT NULL,
 CONSTRAINT [PK_CarReceipt_1] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Sex] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [int] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department_1] PRIMARY KEY CLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Photo] [varbinary](max) NOT NULL,
	[Sex] [bit] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [int] NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Manufactory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manufactory](
	[ManufactoryID] [int] IDENTITY(1,1) NOT NULL,
	[ManufactoryName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [int] NOT NULL,
	[Logo] [varbinary](max) NOT NULL,
	[AddInfor] [nvarchar](100) NULL,
 CONSTRAINT [PK_Manufactory] PRIMARY KEY CLUSTERED 
(
	[ManufactoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[OnOrder] [date] NOT NULL,
	[EmployeeID] [bigint] NOT NULL,
	[Request] [nvarchar](100) NULL,
	[Confirmation] [bit] NOT NULL,
 CONSTRAINT [PK_SalesOrder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [bigint] NOT NULL,
	[CarNo] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_SalesOrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[CarNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PurchaseOrderID] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[EmployeeID] [bigint] NULL,
 CONSTRAINT [PK_CarReceipt] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[PurchaseOrderID] [bigint] NOT NULL,
	[CarNo] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_PurchaseOrderDetails] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC,
	[CarNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceDetails](
	[CarNo] [bigint] NOT NULL,
	[ServiceID] [int] NOT NULL,
 CONSTRAINT [PK_ServiceDetails] PRIMARY KEY CLUSTERED 
(
	[CarNo] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Assigning] ON 

INSERT [dbo].[Assigning] ([OrderID], [OnAssigning], [EmployeeID], [AssigningID]) VALUES (1, CAST(N'2022-10-08' AS Date), 1, 1)
INSERT [dbo].[Assigning] ([OrderID], [OnAssigning], [EmployeeID], [AssigningID]) VALUES (3, CAST(N'2022-10-20' AS Date), 1, 2)
INSERT [dbo].[Assigning] ([OrderID], [OnAssigning], [EmployeeID], [AssigningID]) VALUES (5, CAST(N'2022-10-22' AS Date), 1, 4)
SET IDENTITY_INSERT [dbo].[Assigning] OFF
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarNo], [ModelName], [Name], [Price], [Status], [AddInfor]) VALUES (2, N'Ford Escape', N'Ford Escape 3.0L', 10994, 1, N'')
INSERT [dbo].[Car] ([CarNo], [ModelName], [Name], [Price], [Status], [AddInfor]) VALUES (5, N'Honda Civic', N'Honda Civic 1.8 AT', 12000, 1, N'Honda Civic 1.8 AT đời 2013. Mới 100%. 
số tự động 5 cấp,
động cơ xăng 1.8L i-VTEC 16 van')
INSERT [dbo].[Car] ([CarNo], [ModelName], [Name], [Price], [Status], [AddInfor]) VALUES (14, N'Ford Escape', N'Ford Escape 2022', 25000, 1, N'')
SET IDENTITY_INSERT [dbo].[Car] OFF
SET IDENTITY_INSERT [dbo].[CarReceipt] ON 

INSERT [dbo].[CarReceipt] ([ReceiptID], [Date], [PurchaseOrderID], [EmployeeID]) VALUES (1, CAST(N'2022-10-18' AS Date), 24, 1)
INSERT [dbo].[CarReceipt] ([ReceiptID], [Date], [PurchaseOrderID], [EmployeeID]) VALUES (5, CAST(N'2022-10-24' AS Date), 25, 4)
INSERT [dbo].[CarReceipt] ([ReceiptID], [Date], [PurchaseOrderID], [EmployeeID]) VALUES (6, CAST(N'2022-10-18' AS Date), 24, 4)
SET IDENTITY_INSERT [dbo].[CarReceipt] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Sex], [DateOfBirth], [Address], [Phone]) VALUES (1, N'Châu', N'Nguyễn Minh', 1, CAST(N'2001-10-13' AS Date), N'Hồ Chí Minh', 679823760)
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Sex], [DateOfBirth], [Address], [Phone]) VALUES (3, N'Hậu', N'Huỳnh Minh', 1, CAST(N'2001-06-22' AS Date), N'Hồ Chí Minh', 979823760)
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Sex], [DateOfBirth], [Address], [Phone]) VALUES (6, N'Phúc', N'Nguyễn Duy', 1, CAST(N'2001-08-24' AS Date), N'Hồ Chí Minh', 779823760)
SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[Department] ([DepartmentName]) VALUES (N'Accounting')
INSERT [dbo].[Department] ([DepartmentName]) VALUES (N'Car Manager')
INSERT [dbo].[Department] ([DepartmentName]) VALUES (N'HR')
SET IDENTITY_INSERT [dbo].[Employee] ON 

SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Manufactory] ON 

SET IDENTITY_INSERT [dbo].[Manufactory] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [CustomerID], [OnOrder], [EmployeeID], [Request], [Confirmation]) VALUES (1, 1, CAST(N'2022-10-03' AS Date), 1, N'', 0)
INSERT [dbo].[Order] ([OrderID], [CustomerID], [OnOrder], [EmployeeID], [Request], [Confirmation]) VALUES (3, 1, CAST(N'2022-10-19' AS Date), 1, N'', 1)
INSERT [dbo].[Order] ([OrderID], [CustomerID], [OnOrder], [EmployeeID], [Request], [Confirmation]) VALUES (5, 1, CAST(N'2022-10-22' AS Date), 1, N'', 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
INSERT [dbo].[OrderDetails] ([OrderID], [CarNo], [Quantity]) VALUES (1, 2, 1)
INSERT [dbo].[OrderDetails] ([OrderID], [CarNo], [Quantity]) VALUES (1, 5, 1)
INSERT [dbo].[OrderDetails] ([OrderID], [CarNo], [Quantity]) VALUES (3, 2, 7)
SET IDENTITY_INSERT [dbo].[PurchaseOrder] ON 

INSERT [dbo].[PurchaseOrder] ([PurchaseOrderID], [Date], [EmployeeID]) VALUES (15, CAST(N'2022-10-06' AS Date), 1)
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderID], [Date], [EmployeeID]) VALUES (24, CAST(N'2022-10-05' AS Date), 1)
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderID], [Date], [EmployeeID]) VALUES (25, CAST(N'2022-10-24' AS Date), 4)
SET IDENTITY_INSERT [dbo].[PurchaseOrder] OFF
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [CarNo], [Quantity], [Price]) VALUES (15, 2, 2, 10000)
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [CarNo], [Quantity], [Price]) VALUES (24, 2, 2, 10000)
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [CarNo], [Quantity], [Price]) VALUES (25, 2, 1, 5)
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [Name], [Description]) VALUES (1, N'Bảo hành động cơ', N'Bảo hành bao gồm:
- Động cơ
- Hộp số')
INSERT [dbo].[Service] ([ServiceID], [Name], [Description]) VALUES (2, N'Bảo dưỡng định kỳ', N'Thông tin đang cập nhật...')
SET IDENTITY_INSERT [dbo].[Service] OFF
INSERT [dbo].[ServiceDetails] ([CarNo], [ServiceID]) VALUES (2, 1)
INSERT [dbo].[ServiceDetails] ([CarNo], [ServiceID]) VALUES (2, 2)
INSERT [dbo].[ServiceDetails] ([CarNo], [ServiceID]) VALUES (5, 1)
ALTER TABLE [dbo].[Assigning]  WITH CHECK ADD  CONSTRAINT [FK_Assigning_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Assigning] CHECK CONSTRAINT [FK_Assigning_Employee]
GO
ALTER TABLE [dbo].[Assigning]  WITH CHECK ADD  CONSTRAINT [FK_Assigning_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Assigning] CHECK CONSTRAINT [FK_Assigning_Order]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_CarModel] FOREIGN KEY([ModelName])
REFERENCES [dbo].[CarModel] ([ModelName])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_CarModel]
GO
ALTER TABLE [dbo].[CarModel]  WITH CHECK ADD  CONSTRAINT [FK_CarModel_Manufactory] FOREIGN KEY([ManufactoryID])
REFERENCES [dbo].[Manufactory] ([ManufactoryID])
GO
ALTER TABLE [dbo].[CarModel] CHECK CONSTRAINT [FK_CarModel_Manufactory]
GO
ALTER TABLE [dbo].[CarReceipt]  WITH CHECK ADD  CONSTRAINT [FK_CarReceipt_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[CarReceipt] CHECK CONSTRAINT [FK_CarReceipt_Employee]
GO
ALTER TABLE [dbo].[CarReceipt]  WITH CHECK ADD  CONSTRAINT [FK_CarReceipt_PurchaseOrder] FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrder] ([PurchaseOrderID])
GO
ALTER TABLE [dbo].[CarReceipt] CHECK CONSTRAINT [FK_CarReceipt_PurchaseOrder]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentName])
REFERENCES [dbo].[Department] ([DepartmentName])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Car] FOREIGN KEY([CarNo])
REFERENCES [dbo].[Car] ([CarNo])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Car]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Employee]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_Car] FOREIGN KEY([CarNo])
REFERENCES [dbo].[Car] ([CarNo])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_Car]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrder] FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrder] ([PurchaseOrderID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrder]
GO
ALTER TABLE [dbo].[ServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_ServiceDetails_Car] FOREIGN KEY([CarNo])
REFERENCES [dbo].[Car] ([CarNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceDetails] CHECK CONSTRAINT [FK_ServiceDetails_Car]
GO
ALTER TABLE [dbo].[ServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_ServiceDetails_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceDetails] CHECK CONSTRAINT [FK_ServiceDetails_Service]
GO
/****** Object:  StoredProcedure [dbo].[deleteCustomer] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deleteCustomer]
@CustomerID bigint
as
	delete from Customer where CustomerID = @CustomerID

GO
/****** Object:  StoredProcedure [dbo].[deleteDepartment] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteDepartment]
@DepartmentName nvarchar(50)
as
	delete from Department where DepartmentName = @DepartmentName

GO
/****** Object:  StoredProcedure [dbo].[deleteModel] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteModel]
@ModelName varchar(50)
as
delete from CarModel where ModelName = (@ModelName)

GO
/****** Object:  StoredProcedure [dbo].[deleteOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteOrderDetails]
@OrderID bigint, @CarNo bigint
as
delete from OrderDetails where OrderID = @OrderID and CarNo = @CarNo

GO
/****** Object:  StoredProcedure [dbo].[deletePurchaseOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletePurchaseOrderDetails]
@PurchaseOrderID bigint, @CarNo bigint
as
	delete from PurchaseOrderDetails where PurchaseOrderID = @PurchaseOrderID and CarNo = @CarNo

GO
/****** Object:  StoredProcedure [dbo].[deleteService] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteService]
@ServiceID int
as
	delete from [Service] where ServiceID = @ServiceID

GO
/****** Object:  StoredProcedure [dbo].[deleteServiceDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteServiceDetails]
@CarNo bigint
as
	delete ServiceDetails where CarNo = @CarNo

GO
/****** Object:  StoredProcedure [dbo].[getAssigningByID] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAssigningByID]
@AssigningID bigint
as
	select * from Assigning where AssigningID = @AssigningID

GO
/****** Object:  StoredProcedure [dbo].[getCustomerByID] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getCustomerByID]
@CustomerID bigint
as
	select * from Customer where CustomerID = @CustomerID

GO
/****** Object:  StoredProcedure [dbo].[getEmployee] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getEmployee]
@UserName varchar(20), @Password varchar(20), @DepartmentName nvarchar(50)
as
	select * from Employee where UserName = @UserName and [Password] = @Password and DepartmentName = @DepartmentName;

GO
/****** Object:  StoredProcedure [dbo].[getManufactoryByID] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[getManufactoryByID]
 @ManufactoryID nvarchar(50)
 as
	select * from Manufactory where ManufactoryID = @ManufactoryID

GO
/****** Object:  StoredProcedure [dbo].[getManufactoryByName] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[getManufactoryByName]
 @Name nvarchar(50)
 as
	select * from Manufactory where ManufactoryName = @Name

GO
/****** Object:  StoredProcedure [dbo].[getModelByName] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getModelByName]
@ModelName varchar(50)
as
select * from CarModel where ModelName = (@ModelName)

GO
/****** Object:  StoredProcedure [dbo].[getNewIdentity] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getNewIdentity]
@tableName varchar(20)
as
	select ident_current (@tableName)+1 as ID

GO
/****** Object:  StoredProcedure [dbo].[getOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getOrderDetails]
@OrderID bigint
as
	select OrderDetails.Quantity, Car.* from [Order] inner join OrderDetails on [Order].OrderID = OrderDetails.OrderID 
	inner join Car on OrderDetails.CarNo = Car.CarNo where [Order].OrderID = @OrderID

GO
/****** Object:  StoredProcedure [dbo].[getPurchaseOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getPurchaseOrderDetails]
@PurchaseOrderID bigint
as
	select * from PurchaseOrder inner join PurchaseOrderDetails on PurchaseOrder.PurchaseOrderID= PurchaseOrderDetails.PurchaseOrderID
	inner join Car on PurchaseOrderDetails.CarNo = Car.CarNo where PurchaseOrder.PurchaseOrderID = @PurchaseOrderID;

GO
/****** Object:  StoredProcedure [dbo].[getReceipt] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getReceipt]
@ReceiptID bigint, @PurchaseOrderID bigint
as
	select * from CarReceipt where ReceiptID = (@ReceiptID) and PurchaseOrderID = (@PurchaseOrderID)

GO
/****** Object:  StoredProcedure [dbo].[getReceiptByID] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getReceiptByID]
@ReceiptID bigint
as
	select * from CarReceipt where ReceiptID = (@ReceiptID)

GO
/****** Object:  StoredProcedure [dbo].[getServiceIDByName] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getServiceIDByName]
@ServiceName nvarchar(50)
as
	select ServiceID from Service where Name = @ServiceName

GO
/****** Object:  StoredProcedure [dbo].[insertAssigning] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertAssigning]
@OrderID bigint, @EmployeeID bigint, @OnAssigning date
as
insert into Assigning (OrderID, EmployeeID, OnAssigning) values(@OrderID, @EmployeeID, @OnAssigning)

GO
/****** Object:  StoredProcedure [dbo].[insertCar] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertCar]
@ModelName varchar(50), @Name varchar(50), @Price float, @AddInfor nvarchar(100), @Status bit 
as
insert into Car (ModelName , Name, Price, AddInfor, [Status]) values(@ModelName , @Name, @Price, @AddInfor, @Status)

GO
/****** Object:  StoredProcedure [dbo].[insertCustomer] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertCustomer]
@FirstName nvarchar(20), @LastName nvarchar(20), @Sex bit, @DateOfBirth date, @Address nvarchar(20), @Phone int
as
insert into Customer(FirstName, LastName, Sex, DateOfBirth, [Address], Phone) values(@FirstName, @LastName, @Sex, @DateOfBirth, @Address, @Phone) 

GO
/****** Object:  StoredProcedure [dbo].[insertDepartment] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertDepartment]
@DepartmentName nvarchar(50)
as
	insert into Department values (@DepartmentName)

GO
/****** Object:  StoredProcedure [dbo].[insertEmployee] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertEmployee]
@DepartmentName nvarchar(50), @FirstName nvarchar(20), @LastName nvarchar(20), @Photo varbinary(Max), @Sex bit, @DateOfBirth date, @Address nvarchar(100), @Phone int, @UserName varchar(20), @Password varchar(20)
as
	insert into Employee(DepartmentName, FirstName, LastName, Photo, Sex, DateOfBirth, [Address], Phone, UserName, [Password]) values(@DepartmentName, @FirstName, @LastName, @Photo, @Sex, @DateOfBirth, @Address, @Phone, @UserName, @Password)

GO
/****** Object:  StoredProcedure [dbo].[insertManufactory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertManufactory]
@Name nvarchar(50), @Address nvarchar(100), @Phone int, @Logo varbinary(max), @AddInfor nvarchar(100)
as
	insert into Manufactory (ManufactoryName, Address, Phone, Logo, AddInfor) values(@Name, @Address, @Phone, @Logo, @AddInfor)

GO
/****** Object:  StoredProcedure [dbo].[insertModel] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertModel]
@ModelName varchar(50), @AddInfor nvarchar(100), @Image varbinary(max), @ManufactoryID int
as
	insert into CarModel (ModelName, AddInfor, [Image], ManufactoryID) values(@ModelName, @AddInfor, @Image, @ManufactoryID)

GO
/****** Object:  StoredProcedure [dbo].[insertOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[insertOrder]
 @CustomerID bigint, @OnOrder date, @EmployeeID bigint, @Request nvarchar(100), @Confirmation bit
 as
	insert into [Order] (CustomerID, OnOrder, EmployeeID, Request, Confirmation) values(@CustomerID, @OnOrder, @EmployeeID, @Request, @Confirmation)

GO
/****** Object:  StoredProcedure [dbo].[insertOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertOrderDetails]
@OrderID bigint, @CarNo bigint, @Quantity int
as
	insert into OrderDetails (OrderID, CarNo, Quantity) values(@OrderID, @CarNo, @Quantity)

GO
/****** Object:  StoredProcedure [dbo].[insertPurchaseOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertPurchaseOrder]
@Date date, @EmployeeID bigint
as
	insert into PurchaseOrder ([Date], EmployeeID) values(@Date, @EmployeeID)

GO
/****** Object:  StoredProcedure [dbo].[insertPurchaseOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertPurchaseOrderDetails]
@PurchaseOrderID bigint, @CarNo bigint, @Quantity int, @Price float
as
	insert into PurchaseOrderDetails (PurchaseOrderID, CarNO, Quantity, Price) values(@PurchaseOrderID, @CarNo, @Quantity, @Price) 

GO
/****** Object:  StoredProcedure [dbo].[insertReceipt] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertReceipt]
@Date date, @EmployeeID bigint, @PurchaseOrderID bigint
as
insert into CarReceipt ([Date], EmployeeID, PurchaseOrderID) values(@Date, @EmployeeID, @PurchaseOrderID)

GO
/****** Object:  StoredProcedure [dbo].[insertService] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertService]
@Name nvarchar(50), @Description nvarchar(200)
as
	insert into Service(Name, [Description] )values(@Name, @Description)

GO
/****** Object:  StoredProcedure [dbo].[insertServiceDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertServiceDetails]
@CarNo bigint, @ServiceID int
as
	insert into ServiceDetails values(@CarNo, @ServiceID)

GO
/****** Object:  StoredProcedure [dbo].[isExistCar] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[isExistCar]
@CarNo bigint
as
select COUNT(*) from Car where Car.CarNo in (select CarNo from OrderDetails where CarNo = @CarNo) 
or Car.CarNo in (select CarNo from PurchaseOrderDetails where CarNo = @CarNo)

GO
/****** Object:  StoredProcedure [dbo].[isExistCarNoInOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[isExistCarNoInOrderDetails]
@OrderID bigint, @CarNo bigint
as
	select COUNT(*) from OrderDetails where OrderID = @OrderID and CarNo = @CarNo
GO
/****** Object:  StoredProcedure [dbo].[isExistCarNoInPurchaseOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistCarNoInPurchaseOrderDetails]
@PurchaseOrderID bigint, @CarNo bigint
as
	select COUNT(*) from PurchaseOrderDetails where PurchaseOrderID = @PurchaseOrderID and CarNo = @CarNo

GO
/****** Object:  StoredProcedure [dbo].[isExistCustomer] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistCustomer]
@CustomerID bigint
as
	select COUNT(*) from Customer inner join [Order] on Customer.CustomerID = [Order].CustomerID  where Customer.CustomerID = @CustomerID

GO
/****** Object:  StoredProcedure [dbo].[isExistDepartmentName] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistDepartmentName]
@DepartmentName nvarchar(50)
as
	select COUNT(*) from Department where DepartmentName = @DepartmentName

GO
/****** Object:  StoredProcedure [dbo].[isExistDepartmentName2] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistDepartmentName2]
@DepartmentName nvarchar(50)
as
	select COUNT(*) from Department inner join Employee on Department.DepartmentName = Employee.DepartmentName where Department.DepartmentName = @DepartmentName

GO
/****** Object:  StoredProcedure [dbo].[isExistEmployee] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistEmployee]
@EmployeeID bigint
as
	select COUNT(*) from Employee where Employee.EmployeeID in (select EmployeeID from [Order] where EmployeeID = @EmployeeID) or Employee.EmployeeID 
	in (select EmployeeID from Assigning where EmployeeID = @EmployeeID) or Employee.EmployeeID in (select EmployeeID from CarReceipt where EmployeeID = Employee.EmployeeID)
	or Employee.EmployeeID in (select EmployeeID from PurchaseOrder where EmployeeID = @EmployeeID)

GO
/****** Object:  StoredProcedure [dbo].[isExistManufactory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[isExistManufactory]
 @ManufactoryID int
 as
	select COUNT(*) from Manufactory inner join CarModel on Manufactory.ManufactoryID = CarModel.ManufactoryID where Manufactory.ManufactoryID = @ManufactoryID

GO
/****** Object:  StoredProcedure [dbo].[isExistModel] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistModel]
@ModelName varchar(50)
as
select count(*) from CarModel where ModelName in (select ModelName from Car where ModelName = @ModelName)

GO
/****** Object:  StoredProcedure [dbo].[isExistOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[isExistOrder]
 @OrderID bigint
 as
	select COUNT(*) from [Order] where [Order].OrderID in (select OrderID from Assigning where OrderID = @OrderID) or
	[Order].OrderID in (select OrderID from OrderDetails where OrderID = @OrderID)

GO
/****** Object:  StoredProcedure [dbo].[isExistPurchaseOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistPurchaseOrder]
@PurchaseOrderID bigint
as
	select COUNT(*) from PurchaseOrder where PurchaseOrder.PurchaseOrderID in (select PurchaseOrderID from CarReceipt where PurchaseOrderID = @PurchaseOrderID)
	or PurchaseOrder.PurchaseOrderID in (select PurchaseOrderID from PurchaseOrderDetails where PurchaseOrderID = @PurchaseOrderID)

GO
/****** Object:  StoredProcedure [dbo].[isExistPurchaseOrderID] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistPurchaseOrderID]
	@ID bigint
as
	select COUNT(*) from PurchaseOrderDetails inner join PurchaseOrder on PurchaseOrder.PurchaseOrderID = PurchaseOrderDetails.PurchaseOrderID
	inner join CarReceipt on CarReceipt.PurchaseOrderID = PurchaseOrderDetails.PurchaseOrderID where PurchaseOrder.PurchaseOrderID = @ID

GO
/****** Object:  StoredProcedure [dbo].[isExistService] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[isExistService]
@ServiceID int
as
	select COUNT(*) from [Service] where ServiceID in(select ServiceID from ServiceDetails where ServiceID = @ServiceID)

GO
/****** Object:  StoredProcedure [dbo].[searchAssigning] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchAssigning]
@keyword date
as
	select * from Assigning where OnAssigning = @keyword

GO
/****** Object:  StoredProcedure [dbo].[searchCar] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchCar]
@keyword varchar(50)
as
	select * from Car where Name like '%'+@keyword+'%' or ModelName like '%'+@keyword+'%'

GO
/****** Object:  StoredProcedure [dbo].[searchCustomer] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchCustomer]
@keyword nvarchar(50)
as
	select * from Customer where FirstName like '%' +@keyword+'%' or LastName like '%' +@keyword+'%'

GO
/****** Object:  StoredProcedure [dbo].[searchEmployee] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchEmployee]
@keyword nvarchar(50)
as
	select * from Employee  where FirstName like '%' +@keyword+'%' or LastName like '%' +@keyword+'%' or DepartmentName like '%' +@keyword+'%'

GO
/****** Object:  StoredProcedure [dbo].[searchManufactory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[searchManufactory]
@keyword nvarchar(50)
as
	select * from Manufactory where ManufactoryName like '%'+@keyword+'%'

GO
/****** Object:  StoredProcedure [dbo].[searchModel] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[searchModel]
@keyword varchar(50)
as
	select * from CarModel inner join Manufactory on CarModel.ManufactoryID = Manufactory.ManufactoryID
	where ModelName like '%'+ @keyword+'%' or Manufactory.ManufactoryName like '%'+@keyword+'%'

GO
/****** Object:  StoredProcedure [dbo].[searchOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchOrder]
@keyword date
as
	select * from [Order] where OnOrder  = @keyword

GO
/****** Object:  StoredProcedure [dbo].[searchPurchaseOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchPurchaseOrder]
@keyword date
as
	select * from PurchaseOrder where [Date] = @keyword

GO
/****** Object:  StoredProcedure [dbo].[searchReceipt] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchReceipt]
@keyword date
as
	select * from CarReceipt where [Date] = @keyword

GO
/****** Object:  StoredProcedure [dbo].[totalOrderPrice] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[totalOrderPrice]
@OrderID bigint
as
	select SUM(Quantity*Car.Price) from [Order] inner join OrderDetails  on [Order].OrderID = OrderDetails.OrderID
	inner join Car on OrderDetails.CarNo = Car.CarNo where [Order].OrderID = @OrderID 

GO
/****** Object:  StoredProcedure [dbo].[totalPurchaseOrderPrice] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[totalPurchaseOrderPrice]
@PurchaseOrderID bigint
as
	select SUM(Quantity*Price) from PurchaseOrder inner join PurchaseOrderDetails  on PurchaseOrder.PurchaseOrderID = PurchaseOrderDetails.PurchaseOrderID
	where PurchaseOrder.PurchaseOrderID = @PurchaseOrderID

GO
/****** Object:  StoredProcedure [dbo].[updateAssigning] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateAssigning]
@OrderID bigint, @OnAssigning date, @AssigningID bigint
as
update Assigning set  OrderID = @OrderID, OnAssigning = (@OnAssigning)  where AssigningID = (@AssigningID)

GO
/****** Object:  StoredProcedure [dbo].[updateCar] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateCar]
@ModelName varchar(50), @Name varchar(50), @Price float, @AddInfor nvarchar(100), @Status bit, @CarNo bigint 
as
update Car set ModelName = (@ModelName), Name = (@Name), Price = (@Price), AddInfor = (@AddInfor), [Status] = (@Status) where CarNo = (@CarNo)

GO
/****** Object:  StoredProcedure [dbo].[updateCustomer] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateCustomer]
@FirstName nvarchar(20), @LastName nvarchar(20), @Sex bit, @DateOfBirth date, @Address nvarchar(20), @Phone int, @CustomerID bigint
as
	update Customer set FirstName = @FirstName, LastName = @LastName, Sex = @Sex, DateOfBirth = @DateOfBirth, [Address] = @Address, Phone = @Phone where CustomerID = @CustomerID

GO
/****** Object:  StoredProcedure [dbo].[updateEmployee] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateEmployee]
	@DepartmentName nvarchar(50), @FirstName nvarchar(20), @LastName nvarchar(20), @Photo varbinary(Max), @Sex bit, @DateOfBirth date, @Address nvarchar(100), @Phone int, @UserName varchar(20), @Password varchar(20), @EmployeeID bigint
as
	update Employee set DepartmentName = @DepartmentName, FirstName = @FirstName, LastName = @LastName, Photo = @Photo, Sex = @Sex, DateOfBirth = @DateOfBirth, [Address] = @Address, Phone = @Phone, UserName = @UserName, [Password] = @Password where EmployeeID = @EmployeeID

GO
/****** Object:  StoredProcedure [dbo].[updateManufactory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE proc [dbo].[updateManufactory]
 @Name nvarchar(50), @Address nvarchar(100), @Phone int, @Logo varbinary(max), @AddInfor nvarchar(100), @ManufactoryID int
 as
	update Manufactory set ManufactoryName = (@Name), [Address] = (@Address), Phone = (@Phone), Logo = (@Logo), AddInfor = (@AddInfor) where ManufactoryID = (@ManufactoryID)

GO
/****** Object:  StoredProcedure [dbo].[updateModel] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateModel]
@AddInfor nvarchar(100), @Image varbinary(max), @ManufactoryID int, @ModelName varchar(50)
as
	update CarModel set AddInfor = (@AddInfor), [Image] = (@Image), ManufactoryID = (@ManufactoryID)   where ModelName = (@ModelName)

GO
/****** Object:  StoredProcedure [dbo].[updateOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateOrder]
 @OnOrder date, @Request nvarchar(100), @Confirmation bit, @OrderID bigint
 as
	update [Order] set OnOrder = (@OnOrder), Request = (@Request), Confirmation = (@Confirmation) where OrderID = (@OrderID)

GO
/****** Object:  StoredProcedure [dbo].[updateOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateOrderDetails]
@CarNo bigint, @Quantity int, @OrderID bigint
as
	update OrderDetails set Quantity = @Quantity where OrderID = @OrderID and CarNo = @CarNo

GO
/****** Object:  StoredProcedure [dbo].[updatePurchaseOrder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatePurchaseOrder]
@Date date, @PurchaseOrderID bigint
as
	update PurchaseOrder set Date = (@Date) where PurchaseOrderID = (@PurchaseOrderID)

GO
/****** Object:  StoredProcedure [dbo].[updatePurchaseOrderDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatePurchaseOrderDetails]
@Quantity int, @Price float, @PurchaseOrderID bigint, @CarNo bigint
as
	update PurchaseOrderDetails set Quantity = @Quantity, Price = @Price where PurchaseOrderID = @PurchaseOrderID and CarNo = @CarNo

GO
/****** Object:  StoredProcedure [dbo].[updateReceipt] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateReceipt]
@Date date, @EmployeeID bigint, @ReceiptID bigint, @PurchaseOrderID bigint
as
	update CarReceipt set [Date] = (@Date), EmployeeID = @EmployeeID, PurchaseOrderID = @PurchaseOrderID where ReceiptID = @ReceiptID

GO
/****** Object:  StoredProcedure [dbo].[updateService] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateService]
@Name nvarchar(50), @Description nvarchar(200), @ServiceID int
as
	update Service set Name = @Name, [Description] = @Description where ServiceID = @ServiceID

GO
USE [master]
GO
